 * {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    scroll-behavior: smooth;
    overflow: hidden;
  }

  .one {
    top: 0vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #F8F9FF;
  }

  .oneSVGdiv {
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 100%;
    width: 60%;
    background-color: none;
  }

  .oneSVG {
    position: absolute;
    top: 0%;
    right: -50%;
    object-fit: contain;
    overflow: hidden;
    transform: scale(1.5);
  }

  .detailsSVG {
    position: absolute;
    width: 55%;
    height: 86%;
    top: 7%;
    left: 0%;
    object-fit: contain;
    transform: scale(0.45);
  }

  .ArrowDown1 {
    position: absolute;
    bottom: 6%;
    right: 50%;
    padding: 15 25 15 25;
    overflow: hidden;
    transform: scale(1.5);
    opacity: 10%;
    transition: all 0.2s ease-in-out;
  }

  .ArrowDown1:hover {
    transform: scale(1.6);
    opacity: 35%;
    transition: all 0.2s ease-in-out;
    background-color: #DCDFF5;
    border-radius: 10px;
  }

  .two {
    top: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #FFF4F4;
    overflow: hidden;
  }

  .twoSVGdiv {
    position: absolute;
    bottom: -100%;
    left: 0%;
    height: 100%;
    width: 50%;
    background-color: none;
  }

  .twoSVG {
    position: absolute;
    bottom: -20%;
    left: -70%;
    object-fit: contain;
    transform: scale(1.9);
  }

  .svgGREENdiv {
    position: absolute;
    top: 100%;
    right: 0%;
    height: 50%;
    width: 25%;
    background-color: none;
    overflow: hidden;
  }

  .svgGREEN {
    position: absolute;
    top: -50%;
    right: -40%;
    object-fit: contain;
    overflow: hidden;
    transform: scale(1.3);
  }

  .educationSVG {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 102%;
    left: 30%;
    object-fit: contain;
    transform: scale(0.4);
  }

  .ArrowDown2 {
    position: absolute;
    bottom: -94%;
    right: 50%;
    padding: 15 25 15 25;
    overflow: hidden;
    transform: scale(1.5);
    opacity: 10%;
    transition: all 0.2s ease-in-out;
  }

  .ArrowDown2:hover {
    transform: scale(1.6);
    opacity: 35%;
    background-color: #F5CFCF;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }

  .ArrowDown2INV {
    position: absolute;
    bottom: -15%;
    right: 50%;
    overflow: hidden;
    padding: 15 25 15 25;
    transform: scale(1.5);
    transform: rotate(90);
    opacity: 10%;
    transition: all 0.2s ease-in-out;
  }

  .ArrowDown2INV:hover {
    transform: scale(1.6);
    opacity: 35%;
    background-color: #F5CFCF;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }

  .three {
    top: 200%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #E7F5F2;
  }

  .threeSVG1div {
    position: absolute;
    top: 200%;
    right: 0%;
    height: 100%;
    width: 35%;
    background-color: none;
  }

  .threeSVG1 {
    position: absolute;
    top: 0%;
    left: 40%;
    object-fit: contain;
    transform: scale(1.6);
  }

  .threeSVG2div {
    position: absolute;
    bottom: -200%;
    left: 0%;
    height: 50%;
    width: 25%;
    background-color: none;
  }

  .threeSVG2 {
    position: absolute;
    bottom: -63%;
    left: -90%;
    object-fit: contain;
    transform: scale(3);
    /*display: none;*/
    transition: all 0.3s ease-in-out;
  }

  .skillsSVG {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 210%;
    left: 0%;
    object-fit: contain;
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
  }

  @media (max-width: 1000px) {
    .skillsSVG {
      display: none;
      transition: all 0.3s ease-in-out;
    }

    .threeSVG2 {
      display: block;
      transition: all 0.3s ease-in-out;
    }
  }

  .ArrowDown3 {
    position: absolute;
    bottom: -194%;
    right: 50%;
    overflow: hidden;
    padding: 15 25 15 25;
    transform: scale(1.5);
    opacity: 10%;
    transition: all 0.2s ease-in-out;
  }

  .ArrowDown3:hover {
    transform: scale(1.6);
    opacity: 35%;
    background-color: #B4D8D0;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }

  .ArrowDown3INV {
    position: absolute;
    bottom: -115%;
    right: 50%;
    overflow: hidden;
    padding: 15 25 15 25;
    transform: scale(1.5);
    transform: rotate(90);
    opacity: 10%;
    transition: all 0.2s ease-in-out;
  }

  .ArrowDown3INV:hover {
    transform: scale(1.6);
    opacity: 35%;
    background-color: #B4D8D0;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }

  .four {
    top: 300%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #F8ECFD;
    z-index: 200;
  }

  .certificationsSVG {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 285%;
    left: -8%;
    object-fit: contain;
    transform: scale(0.35);
    transition: all 0.2s ease-in-out;
  }

  .cert {
    opacity: 0%;
    transition: all 0.2s ease-in-out;
  }

  .certificationsSVG:hover .cert {
    opacity: 100%;
    transition: all 0.2s ease-in-out;
  }

  .certificationsSVG:hover:not(.cert) {
    transform: scale(0.36);
    opacity: 85%;
    transition: all 0.2s ease-in-out;
  }

  .photographySVG {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 324%;
    left: -8%;
    object-fit: contain;
    transform: scale(0.35);
    transition: all 0.2s ease-in-out;
  }

  .photographySVG:hover {
    transform: scale(0.36);
    opacity: 45%;
  }

  .graphicdesignSVG {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 285%;
    right: -4%;
    object-fit: contain;
    transform: scale(0.35);
    transition: all 0.2s ease-in-out;
  }

  .graphicdesignSVG:hover {
    transform: scale(0.36);
    opacity: 45%;
  }

  .filmSVG {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 324%;
    right: -4%;
    object-fit: contain;
    transform: scale(0.35);
    transition: all 0.2s ease-in-out;
  }

  .filmSVG:hover:not(.cert2) {
    transform: scale(0.36);
    opacity: 85%;
  }

  .cert2 {
    opacity: 0%;
    transition: all 0.2s ease-in-out;
  }

  .filmSVG:hover .cert2 {
    opacity: 100%;
    transition: all 0.2s ease-in-out;
  }

  .ArrowDown4INV {
    position: absolute;
    bottom: -215%;
    right: 50%;
    overflow: hidden;
    padding: 15 25 15 25;
    transform: scale(1.5);
    transform: rotate(90);
    opacity: 10%;
    transition: all 0.2s ease-in-out;
  }

  .ArrowDown4INV:hover {
    transform: scale(1.6);
    opacity: 35%;
    background-color: #E1C0EF;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }

  header {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 9%;
    align-items: center;
    background-color: none;
    overflow: hidden;
    z-index: 1000;
    transition: all 0.3s;
    animation: fade-in-right cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s none;
    animation-delay: 1.8s;
    transition: all 0.3s;
  }

  .logo-container,
  .nav-links {
    display: flex;
  }

  nav {
    flex: 2;
  }

  .nav-links {
    justify-content: space-around;
    list-style: none;
    padding-right: 0vh;
    max-width: 45vw;
    min-height: 100%;
    transition: all 0.3s;
    align-items: center;
    background-color: none;
  }

  .nav-link1 {
    color: #092A51;
    font-family: 'Circular';
    font-weight: bolder;
    font-size: 17px;
    text-decoration: none;
    background-color: none;
    padding: 2px 4px;
    position: relative;
    display: inline-block;
    overflow: visible;
    transition: all 0.15s ease-in-out;
  }

  .nav-link1.active {
    border-bottom: 4px solid #F83838;
    transition: all 0.15s ease-in-out;
  }

  .nav-link1:hover {
    opacity: 70%;
    transform: scale(0.96);
    transition: all 0.15s ease-in-out;
  }

  .nav-link2 {
    color: #092A51;
    font-family: 'Circular';
    font-weight: bolder;
    font-size: 17px;
    text-decoration: none;
    background-color: none;
    padding: 2px 4px;
    position: relative;
    display: inline-block;
    overflow: visible;
    transition: all 0.15s ease-in-out;
  }

  .nav-link2.active {
    border-bottom: 4px solid #48E5BA;
    transition: all 0.15s ease-in-out;
  }

  .nav-link2:hover {
    opacity: 70%;
    transform: scale(0.96);
    transition: all 0.15s ease-in-out;
  }

  .nav-link3 {
    color: #092A51;
    font-family: 'Circular';
    font-weight: bolder;
    font-size: 17px;
    text-decoration: none;
    background-color: none;
    padding: 2px 4px;
    position: relative;
    display: inline-block;
    overflow: visible;
    transition: all 0.15s ease-in-out;
  }

  .nav-link3.active {
    border-bottom: 4px solid #126E67;
    transition: all 0.15s ease-in-out;
  }

  .nav-link3:hover {
    opacity: 70%;
    transform: scale(0.96);
    transition: all 0.15s ease-in-out;
  }

  .nav-link4 {
    color: #092A51;
    font-family: 'Circular';
    font-weight: bolder;
    font-size: 17px;
    text-decoration: none;
    background-color: none;
    padding: 2px 4px;
    position: relative;
    display: inline-block;
    overflow: visible;
    transition: all 0.15s ease-in-out;
  }

  .nav-link4.active {
    border-bottom: 4px solid #C264FE;
    transition: all 0.15s ease-in-out;
  }

  .nav-link4:hover {
    opacity: 70%;
    transform: scale(0.96);
    transition: all 0.15s ease-in-out;
  }

  .logo-container {
    background: none;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 4vw;
    height: 100%;
    background-color: none;
    margin-left: 4vw;
    transition: all 0.3s;
  }

  .logo {
    margin-right: 0vw;
  }
